
/* Mosaico / Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.grid-module{
	background-color: $color__gray;
	padding: 5rem 0;
	color: #ffffff;

	li{
		float: left;

		position: relative;

		text-align: center;
		padding: 6rem 2rem;

		&.col_1 {width: 100%; }
		&.col_2 { width: 50%; }
		&.col_3 { width: 33.33%; }
		&.col_4 { width: 25%; }
		&.col_5 { width: 20%; }

		&::before{
			display: none;
			padding: 0;
		}

		img{
			display: block;
			max-height: 10rem;

			@include centrado;
		}



	}
}



/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 768px) {
	.grid-module{
		li{
			padding: 3rem 2rem;
			&.col_1,
			&.col_2, 
			&.col_3,
			&.col_4,
			&.col_5 { 
				width: 33.33%; 

			}	

			img{
				max-height: 6rem;
				max-width: 10rem;
			}
		}

	}


}

@media only screen and (max-width: 412px) {
	.grid-module{
		li{
			//padding: 2rem;
			&.col_1,
			&.col_2, 
			&.col_3,
			&.col_4,
			&.col_5 { 
				width: 50%; 
			}

			img{
				max-height: 4rem;

			}
		}
	}
}