
/* Quote
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.quote-module{
	padding: 10rem 0;
	background-color: $color__brand-secondary-dark;


	.quote-autor{font-size: 90%;}

	blockquote{
		color: #ffffff;
		font-size: 2.4rem;
	}

}



/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */


@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 412px) {

	.quote-module{
		padding: 5rem 0;


	}
}
