
/* Logos
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.logo{
	//float: left;
	width: 17rem;
	height: 8rem;
	margin: 0;

	a{
		display: block;
		width: 17rem;
		height: 8rem;
		//background-size: contain;
		background-repeat: no-repeat;
		background-position: 50%;
		text-indent: -9999px;
	}
}



/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 1024px){


}

@media only screen and (max-width: 768px) {




}