
/* PopUp
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.popup{
	.wrapper{
		@include centrado;
		max-width: 60rem;
		background-color: $color__gray;
		padding: 5rem;

		a:hover{
			color: $color__brand-terciary;
		}

		.btn--popup__dismiss{
			position: absolute;
			top: 2rem;
			right: 2rem;
			width: 2rem;
			height: 3rem;

			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);



			&::before, 
			&::after{
				content: '';
				display: block;
				width: 2rem;
				height: 0.2rem;
				background-color: $color__brand;

				-webkit-transform-origin: center center;
				-ms-transform-origin: center center;
				transform-origin: center center;
				
				@include transicion;

			}

			&::before{
				-webkit-transform: translateY(10px);
				-ms-transform: translateY(10px);
				transform: translateY(10px);

			}

			&::after{
				-webkit-transform: translateY(8px) rotate(90deg);
				-ms-transform: translateY(8px) rotate(90deg);
				transform: translateY(8px) rotate(90deg);
			}
			&:hover{
				&::before, 
				&::after{
					background-color: $color__brand-terciary;
		
				}
			}
		}
	}
}


