
/* Modulo social media
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.social-links{

	margin: 0;
	padding: 0;
	width: 100%;

	text-align: center;

	li{
		display: inline-block;
		vertical-align: top;
		margin: 0 1rem;
		
		padding: 0;
		font-size: 2rem;

		&::before{
			display: none;
		}

		a{
			position: relative;
			display: block;
			width: 5rem;
			height: 5rem;
			border-radius: 5rem;
			color: #ffffff;
			background-color: $color__brand;
			
			&::after{
				font-family: "FontAwesome";
				//font-size: 2.4rem;
				

				@include centrado;

			}

			&:hover{
				background-color: $color__brand-secondary;
			}


		}
		&.social-twitter a::after{ content: '\f099'; }
		&.social-linkedin a::after{ content: '\f0e1'; }
		&.social-facebook a::after{ content: '\f09a'; }
		&.social-instagram a::after{ content: '\f16d'; }
		&.social-googleplus a::after{ content: '\f0d5'; }
		&.social-dribbble a::after{ content: '\f17d'; }

	}
}



/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 1024px) {


}