
/* Blog Archive (home.php)
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.blog--main{	

	padding:14rem 0 10rem;
	background-color: $color__gray-lighter;

	.blog--sizer,
	.blog--item{
		float: left;
		width: 25%;
		//height: 30rem;

	}	


	.blog--item{

		padding: 0 2rem;
		.blog--content{
			display: block;
			border: 2px solid #ffffff;
			margin-bottom: 4rem;
			padding: 3rem;
			background-color: #ffffff;	

			&:hover{
				-ms-transform: scale(1.02);
				-webkit-transform: scale(1.02);
				transform: scale(1.02);

				border-color: $color__brand;
			}

			
			.date{
				font-size: 1.4rem;
				font-weight: lighter;
				color: $color__gray-light;
			}

		}

	}

	article{
		.wrapper{
			max-width: 80rem;
			padding: 3rem;
			background-color: #ffffff;	
			
		}
	}

	a:hover{
		color: $color__brand-terciary;
	}

	h2{
		font-size: 2rem;
	}

	p{
		color: $color__gray;
	}

	figure{
		margin: 0;
	}
}

.date{
	font-size: 1.4rem;
	font-weight: lighter;
	color: $color__gray-light;
}



/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 1600px) {
	.blog--main{	

		.blog--sizer,
		.blog--item{
			width: 33.33%;
		}

	}

}


@media only screen and (max-width: 1024px) {
	.blog--main{	

		.blog--sizer,
		.blog--item{
			width: 50%;
		}

		.blog--item{
			.blog--content{
				h2{
					font-size: 1.6rem;
				}
				p{
					font-size: 1.4rem;
				}
			}
		}
	}

}

@media only screen and (max-width: 768px) {
	.blog--main{	
		padding: 10rem 0 6rem;
		.blog--sizer,
		.blog--item{
			width: 100%;

		}
	}

}