
/* Contact Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.page-template-contact{
	article{
		.direccion,
		.telefono{
			text-align: center;
			i{
				color: $color__brand;
				font-size: 4rem;
			}

			a{
				text-decoration: none;
				color: $color__gray;
				&:hover{
					color: $color__brand;
				}
			}
		}		

		.email{
			display: none;
		}
	}

}

