
/* Hero Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hero{

	position: relative;
	height: 60rem;

	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;


	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.5);
	}

	.hero-claim{

		@include centrado;

		width: 90%;
		max-width: $size__content;

		h1,p{
			color: #ffffff;
		}


	}

	&.hero--home{
		height: 75rem;


		text-align: center;
		text-transform: uppercase;

		.hero-claim{
			max-width: 96rem;
		}
		h1{
			font-size: 4.2rem;
			line-height: 100%;

			font-weight: 400;
			//color: $color__brand;
			margin: 0 0 3rem;

			&::after{
				content: '';

				display: block;
				width: 20rem;
				height: 1px;
				margin: 3rem auto;

				background-color: #ffffff;

			}

		}
		p{
			max-width: 96rem;
			margin: 0 auto;

			font-size: 6rem;
			font-weight: 700;
			
			letter-spacing: -2px;

			line-height: 100%;

			color: #ffffff;
		
		}		
	}

	&.hero--cases{

		text-align: left;
		h1, h2{
			color: #ffffff;
			font-size: 5rem;
			text-transform: uppercase;
			font-weight: lighter;
			margin: 0;

		}

		p.descripcion{
			color: #ffffff;
			font-size: 1.8rem;
			text-transform: normal;
			font-weight: 400;
			//margin: 0;
		}

	}

	&.hero--equipo, 
	&.hero--contacto{
		
		h1{
			font-size: 6rem;
			line-height: 120%;
			text-transform: uppercase;
			font-weight: 400;

			b{
				font-weight: 400;
				color: $color__brand-terciary;
			}

		}

		p{
			font-size: 2.4rem;
		}


		h1,p{
			color: #ffffff;
			text-align: center;
		}


	}

	&.hero--equipo{
		background-color: $color__brand-dark;
		.btn{
			position: relative;
			left: 50%;
			-webkit-transform: 	translateX(-50%);
			-ms-transform: 		translateX(-50%);
			transform: 			translateX(-50%);			

		}
	}


	&.hero--contacto{
		background-color: $color__brand;
		&::before{
			display: none;
		}
	}


	&.hero--blog{
		height: 30rem;
	}

}



/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 1024px) {
	.hero{
		&.hero--home{
			height: 60rem;
		}
		&.hero--cases,
		&.hero--equipo, 
		&.hero--contacto{
			h1, h2{
				font-size: 4rem;

			}
		}
	}

}

@media only screen and (max-width: 768px) {
	.hero{
		height: 40rem;
		&.hero--home{
			h1{
				font-size: 3rem;
			}
			p{
				font-size: 4rem;
			}
		}
		&.hero--cases,
		&.hero--equipo, 
		&.hero--contacto{
			h1, h2{
				font-size: 3rem;

			}
			p{
				font-size: 1.6rem;
			}
		}

	}

}

@media only screen and (max-width: 412px) {
	.hero{
		&.hero--home{
			height: 40rem;
			h1{
				font-size: 1.4rem;
			}
			p{
				font-size: 2.4rem;
			}
		}
		&.hero--cases,
		&.hero--equipo, 
		&.hero--contacto{
			h1, h2{
				font-size: 2.4rem;

			}
			p{
				font-size: 1.4rem;
			}
		}
	}

}
