
/* Hero Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hero{

	position: relative;
	height: 60rem;

	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;

/*
	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.5);
	}

	.hero-claim{

		@include centrado;

		width: 90%;
		max-width: $size__content;

		h1,p{
			color: #ffffff;
		}


	}
*/

	&.hero--blog{
		height: 40rem;
	} 

	&.hero--contacto{
		height: 50rem;

	}

}



/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 1024px) {
	.hero{
		&.hero--home{
			height: 60rem;
		}
		&.hero--cases,
		&.hero--equipo, 
		&.hero--contacto{
			h1, h2{
				font-size: 4rem;

			}
		}
	}

}

@media only screen and (max-width: 768px) {
	.hero{
		height: 40rem;
		&.hero--home{
			h1{
				font-size: 3rem;
			}
			p{
				font-size: 4rem;
			}
		}
		&.hero--cases,
		&.hero--equipo, 
		&.hero--contacto{
			h1, h2{
				font-size: 3rem;

			}
			p{
				font-size: 1.6rem;
			}
		}

	}

}

@media only screen and (max-width: 412px) {
	.hero{
		&.hero--home{
			height: 40rem;
			h1{
				font-size: 1.4rem;
			}
			p{
				font-size: 2.4rem;
			}
		}
		&.hero--cases,
		&.hero--equipo, 
		&.hero--contacto{
			h1, h2{
				font-size: 2.4rem;

			}
			p{
				font-size: 1.4rem;
			}
		}
	}

}
