
/* Botones
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {

	display: inline-block;
	//max-width: 60%;
	padding: 1rem 5rem;
	margin: 2rem auto;

	background-color: transparent;
	color: $color__brand;
	border: 2px solid $color__brand;

	text-align: center;
	text-transform: uppercase;
	font-size: 1.8rem;
	line-height: 100%;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 2px;

	cursor: pointer;
	white-space: nowrap;
	user-select: none;
	-webkit-appearance: none;

	@include transicion;

	a{
		text-decoration: none;
		display: block;
		color: $color__brand;
	}

	&:hover{
		background-color: $color__brand;
		border-color: $color__brand;
		color: #ffffff;

		a{
			color: #ffffff;
		}
	}

	&:active,
	&:focus,
	&:visited{
		color: $color__brand;
		outline: none;
		&:hover{
			color: #ffffff;
		}
	}


	&.btn__primary{
		border: none;
		background-color: $color__brand;
		color: #ffffff;

		a{
			color: #ffffff;
		}
		&:hover{
			background-color: $color__brand-secondary-dark;
		}
	}

	&.btn__secondary{
		border: none;
		background-color: $color__brand-secondary-dark;
		color: #ffffff;

		a{
			color: #ffffff;
		}
		&:hover{
			background-color: $color__brand;
		}
	}


	&.btn__white{
		border-color: #ffffff;
		//background-color: $color__brand-secondary-dark;
		color: #ffffff;

		a{
			color: #ffffff;
		}
		&:hover{
			background-color: $color__brand-secondary-dark;
			border-color: $color__brand-secondary-dark;
		}
	}

}

/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 768px) {
	.btn,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		padding: 1.5rem 2rem;

		font-size: 1.4rem;
	}
}

