form {

	p{
		margin: 2rem 0;
		color: $color__gray;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: 1px solid $color__brand-secondary-dark;
	border-radius: 5px;
	padding: 2rem;
	width: 100%;
	height: 3rem;

	color: $color__gray;

	-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor: pointer;

	&:focus{
		border-color: $color__brand-secondary;
		outline: none;
	}
}
select{
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	border: 1px solid $color__gray;
}

textarea{
	height: 10rem;
}

::-webkit-input-placeholder, 
:-moz-placeholder,
::-moz-placeholder ,
:-ms-input-placeholder{
   color: #a9a9a9;
   font-style: italic;
}

